
<img src="https://media.mnn.com/assets/images/2017/06/sonic_mushroom_beef_burger.jpg.653x0_q80_crop-smart.jpg" alt="burger" width="300" height="300">


      {{>burgers/burger-block devoured=true}}



<div class="container" id="inputForm" style="align-content: center">
        <form>
          <div class="form-group col-lg-12" style="display: inline-block">
            <label for="burgers"
              ><small></small></label
            >
            <textarea rows="2" id="newburger"></textarea>
          </div>
            <input type="submit" id="mySubmit" value="Submit">
</form> 

  
